<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add patient</title>
</head>
<body>
    <h1>Patient details</h1>
    <form method="GET" action="" >
        <p><label>Patient name:</label><input type="text" name="patientName"></p>
        <p><label>Patient address:</label><input type="text" name="patientAddress"></p>
        <p><label>Patient DOB:</label><input type="date" name="patientdob"></p>
        <p>
        <input type="submit" value="Confirm">
        <input type="reset" value="cancel">
        </p>
    </form>
</body>
</html>