<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
    <header>
        <h2>Welcome to MediWeb</h2>
        <!--<button type="button">Login</button>-->
        <a href="{{url_for('login')}}">Login</a>
        <!--<button type="button">Register</button>-->
        <a href="{{url_for('register')}}">Register</a>
    </header>
    <main>
        <p>Medical News Section</p>
        <p>Website News Section</p>
        <p>Social Media Section</p>
    </main>
    <footer>
        <!--Something...-->
    </footer>
</body>
</html>