<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>

<body>
    <header>
        <!--<button type="button">Login</button>-->
        <!--<a href="{{url_for('login')}}">Login</a>-->
        <!--<button type="button">Register</button>-->
        <p>
            <h2>Welcome to MediWeb</h2>
            {% if email %}
                <p>{{email}}</p>
            {% endif %}
            <a href="{{url_for('logout')}}">Logout</a>
        </p>

        <!--<a href="{{url_for('register')}}">Register</a>-->
    </header>
    <main>
        <!--<p>Medical News Section</p>-->
        <!--<p>Website News Section</p>-->
        <!--<p>Social Media Section</p>-->
        <p><a href="{{url_for('checkPatients', email=email)}}">Check your patients</a></p>

    </main>
    <footer>
        <!--Something...-->
    </footer>
</body>
</html>